{% autoescape off %}
{% load i18n %}
{% blocktrans %}Bonjour {{ user.get_username }},{% endblocktrans %}

{% blocktrans %}Vous avez demandé la réinitialisation de votre mot de passe pour votre compte sur {{ site_name }}.{% endblocktrans %}

{% blocktrans %}Cliquez sur le lien suivant pour choisir un nouveau mot de passe :{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}Si vous n'êtes pas à l'origine de cette demande, ignorez ce message.{% endblocktrans %}
{% endautoescape %}
