{% extends "base.html" %}{% load i18n %}


{% block title %}
{% trans "Commande réussie" %}
{% endblock %}


{% block content %}

<div class="container mt-5">

    <div class="alert alert-success">

        <h3>
            {% trans "Votre commande est confirmée" %}
        </h3>

        <p>
            {% trans "Numéro de commande :" %}
            {{ commande.id }}
        </p>

        <p>
            {% trans "Statut :" %}
            {{ commande.get_statut_display }}
        </p>

    </div>


    <a href="{% url 'product_list' %}" 
       class="btn btn-primary">
        {% trans "Continuer mes achats" %}
    </a>

</div>

{% endblock %}
